.site {
  background-color: $color__background-body;
  font-family: $font__main;
  padding: 0px;
}
.principal {
  margin: 20px;
}
.formation {
  display: flex;
  flex-direction: column;
  &__titre {
    font-size: 2rem;
    text-align: center;
  }
  &__liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__cours {
    margin: 20px;
    background-color: white;
    border: 0px solid transparent;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.281);
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: $largeur__media--tablette) {
      width: 42%;
    }
    @media screen and (min-width: $largeur__media--desktop) {
      width: 28.5%;
    }
    padding: 10px;
    transition: box-shadow 0.5s, border 0.5s;
  }
  &__cours:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.281);
    border: 2px grey solid;
  }
}
.cours__titre {
  font-size: 1.5rem;
}
.cours__nbre-heure {
  font-size: 1.5rem;
}

.cours__sigle {
  font-size: 1.5rem;
  color: $color__background-header;
  text-shadow: 1px 1px 0px black;
}
.cours__desc {
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-word;
}
