$color__background-body: rgb(127, 255, 217);
$color__background-header: rgb(255, 153, 170);
$color__background-barre: rgb(236, 255, 127);
$color__background-main: rgb(174, 255, 127);
$color__background-footer: grey;
$color__background-link: rgb(241, 149, 241);
$color__background-link-hover: rgb(146, 88, 146);

$color__link: rgb(0, 4, 255);
$color__link-hover: rgb(4, 4, 189);
$color__link-visited: rgb(61, 61, 90);

$color__font-footer: white;
