$color__background-body: rgb(255, 255, 255);
$color__background-header: rgb(22, 179, 48);
$color__background-barre: rgb(236, 255, 127);
$color__background-main: rgb(174, 255, 127);
$color__background-footer: rgb(22, 179, 48);
$color__background-link: rgb(241, 149, 241);
$color__background-link-hover: rgb(146, 88, 146);

//liens
$color__link: rgb(0, 4, 255);
$color__link-hover: rgb(4, 4, 189);
$color__link-visited: rgb(61, 61, 90);

//liens footer
$color__link__footer: rgb(255, 0, 0);
$color__link__footer-hover: rgb(189, 170, 4);
$color__link__footer-visited: rgb(0, 0, 255);

// Fonts
$color__font-footer: white;
